@import '../../../vars';

.container {
    display: flex;
    flex-direction: column;

    header {
        display: flex;
        justify-content: center;

        h1 {
            margin: 0 0 1.25rem;
            font-size: 2rem;
            line-height: 1.5rem;
        }
    }

    .formWrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        form {
            display: flex;
            flex-direction: column;

            input {
                width: 20rem;
                height: 2rem;
                outline: solid $color-primary;
                margin-bottom: 1rem;
                padding-left: 0.5rem;
                font-size: 1.125rem;
                color: $color-black;
            }

            button {
                @include primary-button;
            }
        }
    }

    .main {
        display: flex;
        height: 100vh;
        width: 100%;
        position: absolute;
        left: -1rem;
        top: 5rem;
        flex-direction: column;
        row-gap: 1.25rem;

        h1 {
            margin: 1.125rem;
            padding-left: 3.75rem;
            font-size: 2.5rem;
        }
    }

    .accordion {
        margin: 1.875rem;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .toggle {
        display: flex;

        &:hover {
            fill: $color-accentRed;
            transition: all 0.35s ease;
        }

        svg {
            width: 0.75rem;
            height: 0.75rem;
        }
    }

    h1 {
        color: $color-black;
        font-weight: 600;
        line-height: 1.25rem;
        text-align: left;
    }
}
