@import "../../../../vars";

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;

	h1 {
		margin: 1.125rem;
		font-size: 2.5rem;
		color: $color-black;
		font-weight: 600;
		line-height: 1.25rem;
		text-align: left;
	}

	.cardContainer {
		display: grid;
		grid-template-columns: 2fr 2fr;
		gap: 1rem;
		color: $color-black;

		.card {
			display: flex;
			flex-direction: column;
			background-color: $color-white;
			max-width: 20.75rem;
			min-height: 20.75rem;
			overflow: hidden;
			border-radius: .5rem;
			justify-content: space-between;
			text-decoration: none;
			margin: 1em;
			padding: 3rem 3rem;
			box-shadow: 0 1.5rem 2.5rem -.5rem rgba(#000000, .1);
			transition: transform .45s ease, background .45s ease;

			h3 {
				color: #2E3C40;
				font-size: 2.5rem;
				font-weight: 600;
				padding-bottom: 1rem;
				margin: 0 0 1rem;
				border-bottom: 2px solid $color-borderGray;
				transition: color .45s ease, border .45s ease;
			}

			h4 {
				font-size: 1.25rem;
				line-height: 1.25rem;
				letter-spacing: 0.006px;
				font-weight: 600;
				padding-bottom: .5rem;
			}

			p {
				font-size: 1.25rem;
				font-weight: 500;
				line-height: 1.8rem;
				transform: translateY(-1rem);
				transition: opacity .45s ease, transform .5s ease;
				margin-top: 1rem;
			}

			.link {
				cursor: pointer;
				display: block;
				font-size: 1.125rem;
				font-weight: 600;
				line-height: 1.2rem;
				transition: color .45s ease;
				margin-bottom: 2rem;
				text-transform: uppercase;
				letter-spacing: 0.1rem;

				&:hover {
					color: $color-accentGreen;
				}

				.caret {
					margin-left: .5rem;
					transition: transform .6s ease;

					path {
						fill: $color-black;
						transition: fill .45s ease;
					}
				}
			}


			&:hover {
				background: lighten($color-accentRed, 20%);
				transform: scale(1.02);
				cursor: pointer;

				h3 {
					color: $color-white;
					border-bottom-color: $color-white;
				}

				.link {
					&:hover {
						color: $color-accentGreen;

						.caret {
							animation: point 1.25s infinite alternate;

							path {
								fill: $color-accentGreen;
							}
						}
					}
				}
			}
		}
	}
}