// Wine red accent
$color-red:  #A90D22;

//  Dark Green
$color-greenDark: #00291A;

// Aztec gold
$color-gold: #C7A24B;

// Adjusted colors
$color-goldLight: lighten($color-gold, 25%);

$link-padding: 1rem;
