@import './colors.scss';

@mixin list-item {
        font-size: 1.25rem;
        line-height: 1.125rem;
        cursor: pointer;
        color: $color-greenDark;
        font-weight: 600;

        &:hover {
            color: $color-red;
        }

        &:first-of-type {
            margin-right: 1rem;
        }
}