@import '../../vars';

.item {
    width: 50%;
    padding: 1.125rem .625rem;
    color: $color-white;
    cursor: pointer;


    .title {
        font-size: 1.125rem;
        color: $color-accentGreen;
        font-weight: 500;
        display: flex;
        align-items: center;

        h4 {
            transition: 0.2s ease-in-out;
            font-weight: 400;
            margin-bottom: .625rem;
        }

        i {
            transition: 0.2s ease-in-out;
            transform-origin: center;
            margin-bottom: .625rem;
        }



        .btn {
            @include transparent-button;

            .toggle {
                display: flex;

                &:hover {
                    fill: $color-accentRed;
                    transition: all 0.35s ease;
                }

                svg {
                    width: .75rem;
                    height: .75rem;
                }
            }
        }
    }


    .content {
        max-height: 62.5rem;
        transition: max-height 1s ease-in-out;


        @media (min-width: $breakpoint-md) {
            .item {
                width: 40%;
            }
        }

        @media (max-width: $breakpoint-sm) {
            h1 {
                font-size: 1.875px;
            }
            .accordion__item {
                width: 80%;
            }
        }
    }
}