@import '../../vars';

.item {
    width: 18.375rem;
    border-bottom: 1px solid $color-borderGray;
    overflow: hidden;
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    h4 {
        color: $color-black !important;
        font-size: 1.25rem;
        transition: 0.2s ease-in-out;
        font-weight: 400;
        margin-bottom: .625rem;
        text-align: left;

        &:hover {
            color: $color-accentGreen;
        }
    }

    i  {
        transition: 0.2s ease-in-out;
        transform-origin: center;
        margin-bottom: .625rem;
    }

    &:hover {
        color: $color-accentRed;
    }
}

.content {
    color: $color-black;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: left;
    margin: .25rem;
}

@media (max-width: $breakpoint-sm) {
    h1 {
        font-size: 30px;
    }
    .item {
        width: 80%;
    }
}


