/*
 * THEME COLORS
 * Pigment Red - #ED1B2E
 * Light Sea Green - #17A7AD
 * Very Pale Orange - #F8DFBD
 * Earth Yellow - #E0BE65
 * Halloween Orange
 * ---------------------------------------
*/
$color-accentRed: #ed1b2e;
$color-accentGreen: #17a7ad;
$color-accentOrange: #f15f22;
$color-accentOrangePale: #f8dfbd;
$color-primary: rgb(224, 190, 101);
/*
* BASE COLORS
* White: #fff;
* Black: #000;
* Gray: #E0E0E0;
* GrayLight: #D8D5DB;
* GrayLightest: #E0E0E0;
* ---------------------------------------
*/
$color-white: #fff;
$color-black: #000;
$color-gray: #e0e0e0;
$color-grayLight: #d8d5db;
$color-grayLightest: #e0e0e0;
/*
* THEME COLORS W/ MODIFIERS
* ---------------------------------------
*/
$color-yellowLightest: lighten($color-primary, 30%);
$color-accentOrangeDark: darken($color-accentOrange, 10%);
$color-accentRedDark: darken($color-accentRed, 10%);
$color-accentRedLight: lighten($color-accentRed, 20%);

/*
* SELECTOR COLOR VARIABLES
* BorderGray(bottom-borders, hr's, etc) #C9C9C9;
* ---------------------------------------
*/
$color-borderGray: #c9c9c9;
